@import "./__mixin.scss";
#app {
    height: 100%;
    width: 100%;
    display: grid;
    .app {
        height: 100%;
        width: 100%;
        .overlay {
            height: 100%;
            width: 100%;
            position: fixed;
            z-index: 2;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.966);
            overflow-x: hidden;
            transition: 0.5s;
            will-change: transform;
            .fa {
                color: #fff;
                font-size: 50px;
            }
            .closebtn {
                position: absolute;
                top: -25px;
                right: 45px;
                font-size: 60px;
                color: #fff;
                margin-top: 50px;
            }
            .overlay-content {
                position: relative;
                top: 10%;
                width: 100%;
                text-align: center;
                margin-top: 30px;
                height: 80%;
                .setting-box {
                    height: 100%;
                    .toggle-box {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        display: block;
                        @include breakPointX(420px) {
                            right: -50px;
                        }
                        @include breakPointX(360px) {
                            right: -70px;
                        }
                        .dark-box {
                            display: grid;
                            grid-template-columns: 2fr 7fr;
                            font-family: neirizi;
                            color: #fff;
                            align-items: center;
                            padding-right: 100px;
                            .dark-label {
                                font-size: 40px;
                                @include breakPointX(800px) {
                                    font-size: 30px;
                                }
                            }
                            .dark-checkbox {
                                justify-self: center;
                                position: relative;
                                display: block;
                                width: 180px;
                                height: 100px;
                                border-radius: 100px;
                                background-color: #000839;
                                overflow: hidden;
                                cursor: pointer;
                                @include breakPointX(768px) {
                                    width: 150px;
                                    height: 70px;
                                }
                                &:before,
                                &:after {
                                    display: block;
                                    position: absolute;
                                    content: "";
                                    width: 72px;
                                    height: 72px;
                                    border-radius: 50%;
                                    top: 14px;
                                    left: 14px;
                                    transition: 0.5s ease;
                                    @include breakPointX(768px) {
                                        width: 50px;
                                        height: 50px;
                                        top: 10px;
                                    }
                                }
                                &:before {
                                    background-color: #ffa41b;
                                }

                                &:after {
                                    background-color: #000839;
                                    left: -58px;
                                    transform: scale(0.00001);
                                    @include breakPointX(768px) {
                                        left: -48px;
                                    }
                                }
                            }

                            input[type="checkbox"] {
                                display: none;
                                &:checked + label {
                                    &:before {
                                        background-color: #fff;
                                        transform: translateX(80px);
                                    }

                                    &:after {
                                        transform: translateX(120px) scale(1);
                                    }
                                }
                            }
                        }
                        .fa-box {
                            display: grid;
                            grid-template-columns: 2fr repeat(3, 1fr);
                            font-family: neirizi;
                            color: #fff;
                            align-items: center;
                            @include breakPointX(1024px) {
                                grid-template-columns: 2fr repeat(3, 2fr);
                            }
                            @include breakPointX(615px) {
                                grid-template-columns: 2fr 2fr;
                                justify-items: end;
                            }
                            .fa-label {
                                font-size: 40px;
                                @include breakPointX(768px) {
                                    font-size: 30px;
                                }
                            }
                            .select{
                                display: none;
                                @include breakPointX(615px) {
                                    display: block;
                                    transform: translate(-50%, -20%);
                                }
                                select {
                                    background-color: #0563af;
                                    color: white;
                                    padding: 12px;
                                    width: 250px;
                                    border: none;
                                    font-size: 20px;
                                    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
                                    -webkit-appearance: button;
                                    appearance: button;
                                    outline: none;
                                  }
                            }
                            .fa-sapn {
                                display: flex;
                                align-items: center;
                                input[type="radio"] {
                                    position: absolute;
                                    visibility: hidden;
                                }
                                input[type="radio"]:checked ~ {
                                    .check {
                                        border: 5px solid #0dff92;
                                        &:before {
                                            background: #0dff92;
                                        }
                                    }
                                    label {
                                        color: #0dff92;
                                    }
                                }

                                label {
                                    display: block;
                                    position: relative;
                                    font-weight: 300;
                                    font-size: 1.35em;
                                    padding: 25px 25px 25px 80px;
                                    margin: 10px auto;
                                    height: 30px;
                                    cursor: pointer;
                                    transition: all 0.25s linear;
                                    @include breakPointX(768px) {
                                        font-size: 1.05em;
                                    }
                                    @include breakPointX(615px) {
                                        display: none;
                                    }
                                }
                                .check {
                                    display: block;
                                    position: absolute;
                                    border: 5px solid #fff;
                                    border-radius: 100%;
                                    height: 25px;
                                    width: 25px;
                                    z-index: 5;
                                    transition: border 0.25s linear;
                                    transition: border 0.25s linear;
                                    @include breakPointX(768px) {
                                        height: 17px;
                                        width: 17px;
                                    }
                                    @include breakPointX(615px) {
                                        display: none;
                                    }
                                    &:before {
                                        display: block;
                                        position: absolute;
                                        content: "";
                                        border-radius: 100%;
                                        height: 15px;
                                        width: 15px;
                                        top: 5px;
                                        left: 5px;
                                        margin: auto;
                                        transition: background 0.25s linear;
                                        -webkit-transition: background 0.25s linear;
                                        @include breakPointX(768px) {
                                            height: 12px;
                                            width: 12px;
                                            top:2.4px;
                                            left:2.4px;
                                        }
                                    }
                                }
                                &:hover {
                                    label {
                                        color: #ccc;
                                    }
                                    .check {
                                        border: 5px solid #ccc;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .setting-icon {
            will-change: transform;
            z-index: 1;
            position: fixed;
            top: 100px;
            left: -40px;
            width: 80px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            background-color: rgb(82, 77, 77);
            transition: all 0.5s;
            .setting-icon-arrow {
                display: block;
                position: absolute;
                right: 10px;
                transform: rotate(90deg);
            }
            .setting-icon-text {
                display: none;
                font-size: 15px;
                color: #fff;
                font-family: Vazir-Light-WOL;
            }
            &:hover {
                left: 0px;
                .setting-icon-arrow {
                    display: none;
                }
                .setting-icon-text {
                    display: block;
                }
            }
        }
        #nav {
            position: fixed;
            left: 45%;
            @include breakPointX(1440px) {
                bottom: 2%;
            }
            @include breakPointX(1300px) {
                bottom: 4%;
            }
            @include breakPointX(768px) {
                left: 40%;
            }
            @include breakPointX(375px) {
                left: 35%
            }
            a {
                display: block;
                .link-button {
                    font-size: 20px;
                    width: 130px;
                    height: 40px;
                    color: #fff;
                    border-radius: 5px;
                    font-family: Vazir-Light-WOL;
                    font-weight: 500;
                    background: transparent;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    position: relative;
                    display: inline-block;
                    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
                        4px 4px 5px 0px rgba(0, 0, 0, 0.1);
                    outline: none;
                    border: none;
                    transition: all 0.3s ease;
                    overflow: hidden;
                    &:after {
                        position: absolute;
                        content: " ";
                        z-index: -1;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #1fd1f9;
                        background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
                        transition: all 0.3s ease;
                    }
                    &:hover {
                        background: transparent;
                        color: #fff;
                        &:after {
                            -webkit-transform: scale(2) rotate(180deg);
                            transform: scale(2) rotate(180deg);
                            box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
                                inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
                                inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
                        }
                    }
                }
                &.router-link-exact-active {
                    display: none;
                }
            }
        }
    }
}
.dark-back {
    background-color: #414141 !important;
    background-image: none !important;
    .popularity-title {
        color: #ccc !important;
    }
    .link-button {
        color: #000 !important;
        &:after {
            background-color: #55608f !important;
            background-image: none !important;
        }
    }
    .box-table {
        td,
        th {
            color: #000 !important;
        }
    }
    .form-wrapper {
        button {
            color: #ccc !important;
            background-image: linear-gradient(to right, #16222a 0%, #3a6073 51%, #16222a 100%) !important;
            &:hover {
                &:before {
                    border-right-color: #3a6073 !important;
                }
            }
            &:before {
                border-color: transparent #16222a transparent !important;
            }
        }
    }
    .popularity-div {
        color: #ccc !important;
        background-image: linear-gradient(to right, #16222a 0%, #3a6073 51%, #16222a 100%) !important;
        border: 10px double rgba(0, 0, 0, 0.678) !important;
    }
}
