@import "./_mixin";
$base: #263238;
$lite: #fff;
$brand: #ff3d00;
$size: 68px;
.box {
    display: grid;
    justify-items: center;
    margin-bottom: 60px;
    margin-top: 50px;
    align-items: center;
    .box-table {
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        width: 90%;
    }
    
    td,
    th {
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
        text-align: center;
        font-size: 20px;
        @include breakPointX(650px) {
            font-size: 12px;
        }
    }
    .box-table-thead {
        th {
            background-color: #55608f;
            font-family: neirizi;
            font-size: 25px;
            @include breakPointX(650px) {
                font-size: 17px;
            }
            @include breakPointX(650px) {
                font-size: 15px;
            }
        }
    }

    .box-table-tbody {
        tr {
            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
            }
            td {
                font-family: IRANSans;
            }
        }
    }
}
.loader-div {
    display: grid;
    height: 100vh;
    align-items: center;
    justify-content: center;
    .loader-div-span {
        width: $size;
        height: $size;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        border: 3px solid;
        border-color: $lite $lite transparent transparent;
        animation: rotation 1s linear infinite;
        &:after,
        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            border: 3px solid;
            border-color: transparent transparent $brand $brand;
            width: $size - 8px;
            height: $size - 8px;
            border-radius: 50%;
            animation: rotationBack 0.5s linear infinite;
            transform-origin: center center;
        }
        &:before {
            width: $size - 16px;
            height: $size - 16px;
            border-color: $lite $lite transparent transparent;
            animation: rotation 1.5s linear infinite;
        }
    }
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
